/* Banner - header */
section.banner {
    display: grid;
    grid-gap: 20px;
    box-shadow: var(--shadow);
}

img.slider {
    position: relative;
    width: 100%;
    max-width: 1800px;
    max-height: 600px;
}


/* Navbar bottom */
.header-bottom {
    display: grid;
    grid-gap: 40px;
    height: 40px;
}

.myHamburger {
    font-size: 25px;
    padding-left: 20px;
    color: var(--white);
    border: 0;
    background-color: transparent;
    display: none;
}

.myHamburger:focus {
    outline: none;
}


div.container-bottom,
nav.navbar.navbar-inverse {
    flex-wrap: wrap;
    height: 40px;
    width: 100%;
    max-width: 1800px;
    margin-top: -15px;
}

div.container-bottom {
    background-color: var(--grey);
}

.nav-bottom {
    flex-grow: 1;
    justify-content: space-around;
    background-color: var(--gray);

}

.nav-bottom li {
    letter-spacing: 3px;
    font-size: 22px;
}

/* Conditions */

.conditions {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.condition {
    text-align: center;
    box-shadow: var(--shadow);

}

.condition>h2 {
    font-size: 18px;
}

.condition>p {
    font-size: 13px;
}

.imgCondition {
    max-width: 60%;
    max-height: 60%;
    margin-bottom: 15px;
}

/* gallery */
.gallery {
    display: grid;
    grid-gap: 20px;
    margin-top: 20px;
}

.images {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);

}

.image img {
    border-radius: 10%;
    box-shadow: var(--shadow);
}

.image a {
    overflow: hidden;
    min-height: 20%;
}

.image h2 {
    position: absolute;
    width: 100%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: var(--primary);
    opacity: 0.5;
    color: var(--white);
}

.zoom {
    filter: brightness(70%);
}



/* Media Queries */

@media (max-width: 1300px) {
    .image h2 {
        font-size: 24px;
        bottom: 7%;
    }

    .imgCondition {
        max-width: 50%;
        max-height: 50%;
        margin-bottom: 20px;
    }

    .condition>h2 {
        font-size: 15px;
    }

    .condition>p {
        font-size: 12px;
    }

    .row.justify-content-around li {
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    .image h2 {
        font-size: 19px;
    }

    ul.nav-bottom li a {
        font-size: 15px;
        padding-top: 6px;
    }

    .conditions {
        grid-template-columns: repeat(4, 1fr);
    }

    .imgCondition {
        max-width: 50%;
        max-height: 50%;
        margin-bottom: 35px;
    }

}

@media (orientation: landscape) and (max-width: 800px) {

    section.banner,
    img.slider {
        max-height: 75%;
    }

    section.banner {
        margin-top: 8%
    }




    .header-bottom {

        grid-gap: 20px;
        margin-top: -15%;
    }

    .conditions {
        margin-top: -5%;
    }

    /* gallery */
    .gallery {
        margin-top: 30px;
    }

    .image h2 {
        bottom: 5%;
        font-size: 16px;
    }

    /* footer */

    .footer h2 {
        font-size: 20px;
        letter-spacing: 1px;
    }



    @media (orientation: portrait) and (min-width: 280px) {


        .myHamburger {
            display: block;

        }

        .nav-bottom {
            display: none;
            width: 100%;
            flex-direction: column;
            padding-left: 0;
        }

        .nav-bottom li a {
            border-bottom: 1px solid var(--primary);
        }

        .nav-bottom.showHamburger {
            display: flex;
            background-color: var(--grey);

        }

        .conditions,
        .images {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
        }

    }

    @media (orientation: portrait) and (min-width: 320px) {


        .conditions,
        .images {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
        }

        .image h2 {
            font-size: 25px;
            bottom: 5%;
        }


    }



    @media (orientation: portrait) and (min-width: 768px) {
        .images {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
        }

        .image h2 {

            bottom: 5%;
        }



        ul.nav-bottom li a {
            font-size: 20px;
            margin-left: 0px;
            border-bottom: none;
        }

        ul.nav-bottom li {
            text-align: center;
        }

        .myHamburger {
            display: none;
        }

        .nav-bottom {
            display: flex;
            flex-direction: row;
            border: none;
            padding-left: 0;
        }

        .condition>h2 {
            font-size: 18px;
        }

        .condition>p {
            font-size: 13px;
        }

    }

    /* end index */